<div class="row">
  <div class="col-md-4">
    <h1>Account: <em><%= @transaktion.account.name %></em></h1>
    <p class="lead">Current balance is <em><%= number_to_currency(@transaktion.account.balance, unit: "€", seperator: ".", delimiter: "") %></em></p>
  </div>

  <div class="col-md-8">
    <div class="page-header">
      <h1>Transaction</h1>
      <p class="lead text-<%= @transaktion.transaktion_type == "deposit" ? "success" : "danger" %>">
        <%= @transaktion.transaktion_type.capitalize %> on <%= @transaktion.created_at.strftime("%a, %b %d, %Y at %I:%M:%S%p %Z") %>
      </p>
    </div>

    <div class="row">
      <div class="col-md-12">

        <h2><small>Amount: </small><%= number_to_currency(@transaktion.amount, unit: "€", seperator: ".", delimiter: "") %></h2>
        <h2><small>Description: </small><%= @transaktion.description %></h2>

        <hr>

        <div class="btn-group btn-group-justified" role="group" aria-label="...">
          <%= link_to "Delete", @transaktion, method: :delete, data: {confirm: "Delete this transaktion of \"#{@transaktion.amount}\"?"}, class: 'btn btn-danger' %>
          <%= link_to "Back to Account", account_path(@transaktion.account), class: 'btn btn-default' %>
        </div>

      </div>
    </div>
  </div>
</div>
