<div class="row">
  <div class="col-md-4">
    <h1>Accounts</h1>
    <p class="lead"> You have <em><b><%= @accounts.count %></b></em> accounts with a total balance of: <em><b><%= number_to_currency(@accounts.sum(:balance), unit: "€", seperator: ".", delimiter: "") %></b></em></p>
    <h4><%= link_to "Create a new account", new_account_path %></h4>
  </div>

  <div class="col-md-8">
    <br> <!-- Hack to sort of align list with heading-->
    <div class="list-group">
      <% @accounts.each do |account| %>
        <%= link_to account, :class => "list-group-item" do %>
          <span class="badge"><%= number_to_currency(account.balance, unit: "€", seperator: ".", delimiter: "") %></span>
          <%= account.name %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
