<h1>Accounts#show</h1>
<p>Find me in app/views/accounts/show.html.erb</p>

<h2>Account name: <%= @account.name %></h2>
<h2>Current balance: <%= number_to_currency(@account.balance, unit: "€", separator: ".", delimiter: "") %></h2>

<%= link_to "Edit account info", edit_account_path %>
||
<%= link_to "Delete account", @account, method: :delete, data: {confirm: "Delete \"#{@account.name}\" account?"} %>
||
<%= link_to "Back to Accounts", accounts_path %>

<p></p>

<%= link_to "Deposit funds", '#'%>
||
<%= link_to "Withdraw funds", '#'%>

<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#depositModal">
      Deposit
    </button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#withdrawalModal">
      Withdraw
    </button>
  </div>
</div>

<p></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Date</th>
      <th>Desciption</th>
      <th>Amount<th>
      <th>Type<th>
    </tr>
  </thead>
  <tbody>
    <% @account.transaktions.each do |transaktion| %>
      <tr>
        <td><%= transaktion.created_at.strftime("%a, %b %d, %Y at %I:%M:%S%p %Z") %></td>
        <td><%= link_to((transaktion.description.blank? ? '乁(ツ)ㄏ' : transaktion.description), transaktion_path(transaktion)) %></td>
        <td><%= transaktion.amount %></td>
        <td><%= transaktion.transaktion_type %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<!-- Deposit Modal -->
<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Deposit funds</h4>
      </div>
      <div class="modal-body">
        <%= form_for [@account, @account.transaktions.build], :url => deposit_account_transaktions_path(@account), html: { class: "form-group", role: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'description of deposit' %>
          </div>
          <div class="form-group">
            <%= f.label :amount %>
            <%= f.number_field :amount, class: 'form-control', placeholder: 'deposit amount' %>
          </div>
          <div class="form-group">
            <%= f.submit 'deposit!', class: 'btn btn-success' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Withdrawal Modal -->
<div class="modal fade" id="withdrawalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Withdraw funds</h4>
      </div>
      <div class="modal-body">
        <%= form_for [@account, @account.transaktions.build], :url => withdrawal_account_transaktions_path(@account), html: { class: "form-group", role: "form" } do |f| %>
          <div class="form-group">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control', placeholder: 'description of withdrawal' %>
          </div>
          <div class="form-group">
            <%= f.label :amount %>
            <%= f.number_field :amount, class: 'form-control', placeholder: 'withdrawal amount' %>
          </div>
          <div class="form-group">
            <%= f.submit 'withdraw!', class: 'btn btn-danger' %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
